
@keyframes pop{
    from{
        font-size: 0px;
    }
    to{
        font-size: -20px;
    }

}
@keyframes upForDown{
    from{
        top: -200px;
    }
    to{
        top: 0px;
    }
}

@keyframes RigthtoLeft{
    from{
        right: -300px;
    }
    to{
        right: 0px;
    }
}
.animated-RigthtoLeft{
    animation-name: RigthtoLeft;
    animation-duration: 2000ms;
}

.animated-pop{
    animation-name: pop;
    animation-duration: 2000ms;
}
.animated-upForDown{
    animation-name: upForDown;
    animation-duration: 2000ms;
}