/*-------Desktop---------*/
/*HEADER*/
header{
    border-radius: 0px 0px 40px 40px;
    width:98vw;
    box-shadow: 4px 4px 10px #AC1EF9;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a img{
    position: absolute;
    top: 10px; 
    left: 15px;
}

header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #fffeff;
}

/*MAIN*/

main{
    width:70vw;
    margin:auto;
    font-size: clamp(10px, 4vw, 20px);
} 

.box{
    margin-top:10vh;
}

a.miniGame{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5vh 1vw 5vh 1vw;

    background: linear-gradient(90deg,rgb(32, 252, 143), #fffeff);
    border-radius: 20px;
    border:solid 1px rgb(32, 252, 143) ;

    text-decoration:none;

    color:black;
    font-weight: 500;

    font-size: clamp(15px, 5vw, 25px);
}

a.miniGame p{
    margin-left: 120px;
}



/*-----------TABLET---------------*/
@media (max-width: 786px){
    header{
        border-radius: 0px 0px 10px 10px;
    }

    header h1{
        padding: 1rem;
    }

    header a img, a img.imagem, a img {
        height: 68px;
        width: 68px;
    }

    main{
        width:80vw;
        margin:auto;
    } 
}

/*-----------MOBILE---------------*/
@media (max-width: 425px){
    header h1{
        padding: 0px;
    }

    main{
        width:90vw;
        margin:auto;
    } 

    header a img, a img.imagem,  a img{
        height: 36px;
        width: 36px;
    }
    a.miniGame p{
        margin-left: 60px;
    }
}