*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
#box {
    width: 75%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
body{
    background:#fffeff ;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

footer{
    background-color: rgb(48, 53, 50);
    color: whitesmoke;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content:center;

}
footer i{
    color:whitesmoke;
    margin-right:40px;
}

@media (width: 768px) {
    #box {
        width: 75%;
    }
}