*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background: linear-gradient(100deg, rgb(32, 252, 143) 0%, rgb(25, 143, 240) 100%) no-repeat;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}