body{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

h2{
    text-align: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

@media (max-width: 786px){
    .play {
        width: 75px;
    }
}


@media (max-width: 360px){
    .grid{
        height: 300px;
        width: 350px;
    }
}