section{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:8px;
    background-color:rgb(228, 209, 185);
}
.grid{
    border: 3px solid purple;
    background:grey;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 287px;
}

.grid div{
    border-right: 1px solid white;
    height: 40px;
    width: 40px;
}

.grid div.player-one{
    background-color:green;
    border-radius: 20px;
    border-right: 1px solid green;
}

.grid div.player-two{
    background-color: blue;
    border-radius: 20px;
    border-right: 1px solid blue;
}

#button{
    display:flex;
    justify-content:space-between;
}